@import "./button.scss";
@import "./colors/calculate-color.scss";

@include handle-colors();

body {
    background-color: var(--background-color);
}

.content {
  color: var(--color);
  width: 50%;
  height: 480px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
